<h1>Symfony2.8</h1>

<p><strong>Hello</strong> {{ name | capitalize }}!</p>

<ul>
	<li>George</li>
	<li>John</li>
	<li>Hlias</li>
</ul>

<form action="" method="GET" name="myForm">
	<input type="text" value="geo" name="fname">
	<input type="submit" value="Send" name="send">
</form>

<p>PHP framework for web projects</p>
